[Desktop Entry]
Name=Regex Tester
Comment=Visual regex testing tool
Exec=regex-tester
Icon=io.github.yeager.RegexTester
Terminal=false
Type=Application
StartupWMClass=io.github.yeager.RegexTester
Categories=Development;Utility;
